<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/newsscraptestyle.css" type="text/css" />
  <title>News Scrape</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/javascript/newsscrape.js"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>