<div class="container">

  <div class="row" id="headder">
    
    <div class="col-md-2">
      <h4>
        News Scrape
      </h4>
    </div>
    <div class="col-md-2">
      <a href="/all">Home</a>
    </div>
    <div class="col-md-2">
      <a href="/saved">Saved Articles</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" href="/scrape">Scrape new articles</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" href="/clearall">Clear articles</a>
    </div>
  </div>

  <div class="row" id="mainBody">
    Scraped articles from &nbsp;&nbsp; <img src="https://www.mentalfloss.com/bundles/mfsite/images/global/mf_logo_navbar_long.png">
  </div>
  <br />
  <hr>
  <br />

  <div class="row">
    <div class="col-md-12" id="articleList">
      <div>
        {{#each article}}
        {{> articles/article-block}}
        {{/each}}
      </div>
    </div>
  </div>

</div>